.navigationBar {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1px solid rgb(3, 99, 59);
  z-index: 1;
  position: relative;
}

.navigationBar a {
  position: relative;
  z-index: 1;
  color: rgb(3, 99, 59);
  font-size: 1rem;
  margin: 5rem;
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}